@import fr.maif.otoroshi.daikoku.env._
@import fr.maif.otoroshi.daikoku.domain.Tenant
@import fr.maif.otoroshi.daikoku.login.AuthProvider

@(provider: AuthProvider, tenant: Tenant, host: String, env: Env)

@customStyle = {
@(tenant.colorTheme())
@if(env.config.mode == DaikokuMode.Dev) {
    <link rel="stylesheet" media="screen" href="http://@host:3000/daikoku.css">
}
@if(env.config.mode == DaikokuMode.Prod) {
    <link rel="stylesheet" media="screen" href="/assets/react-app/daikoku.login.min.css">
}
@(tenant.moareStyle())
}
    
@customJs = {
@(tenant.moareJs())
}

@main(tenant.style.map(_.title).getOrElse(tenant.name),  moreStyles = customStyle, moreScripts = customJs, favicon = tenant.favicon()) {
    <div class="container login">
      <div id="app"></div>
    </div>
    @if(env.config.mode == DaikokuMode.Dev) {
        <script type="text/javascript" src="http://@host:3000/daikoku.js"></script>
    }
    @if(env.config.mode == DaikokuMode.Prod) {
        <script type="text/javascript" src="/assets/react-app/daikoku.login.min.js"></script>
    }
    <script>
        Daikoku.login(
          '@(provider.name)',
          '@(fr.maif.otoroshi.daikoku.ctrls.routes.LoginController.login(provider.name).url)',
          @Html(play.api.libs.json.Json.prettyPrint(tenant.toUiPayload(env))),
        )
    </script>
}
