
[data-theme="DARK"] {
    --body-text-color: #e2e2e2;
    --body-bg-color: #121212;

    --link-color: #e2e2e2;
    --link--hover-color: #8fa6bf;

    --navbar-bg-color: #191c24;
    --navbar-brand-color: #fff;

    --sidebar-bg-color: #191c24;
    --sidebar-text-color: #6c7293;

    --menu-text-color: #e2e2e2;
    --menu-text-hover-color: #fff;
    --menu-text-hover-bg-color: #0f1015;
    --menu-bg-color: #191c24;

    --btn-bg-color: #121212;
    --btn-text-color: #e2e2e2;
    --btn-border-color: #97b0c7;
    --btn-bg-hover-color: #fff;
    --btn-text-hover-color: #495057;

    --section-bg-color: #1f232d;
    --section-text-color: #e2e2e2;
    --section-bottom-color: #191c24;

    --form-text-color: #6c7293;
    --form-border-color: #586069;
    --form-bg-color: #121212;

    --form-select-focused-color: #fff;
    --form-select-focused-text-color : #ddd;
    --form-select-hover-color: #ccc;
    --form-select-hover-text-color: #aaa;


    --badge-tags-bg-color: #9a81b8;
    --badge-tags-bg-hover-color: #b597d9;
    --badge-tags-text-color: #212529;


    --error-color: #ffa494;
    --error-hover-color: #ffa494;
    --success-color: #76cf18;
    --success-hover-color: #76cf18;


    --pagination-text-color: #586069;
    --pagination-border-color: #586069;

    --table-bg-color: #f8f9fa;

    --modal-selection-bg-color: rgba(27,31,35,.15);
}