

.organisation__header {
  //display: flex;
  border-bottom: 1px solid $section-bottom-color;
  position: relative;
  background-color: $level2_bg-color;
  color:$level2_text-color;
  .organisation__avatar {
    width: 150px;
  }
}
