@use "../variables";


.organisation__header {
  //display: flex;
  position: relative;
  background-color: variables.$level2_bg-color;
  color:variables.$level2_text-color;
  .organisation__avatar {
    width: 150px;
  }
}
