@import '../variables.scss';

/* login */
.login #app {
  padding-top: 60px;
  padding-bottom: 20px;

    .login__container {
      // background-color: $companion_bg-color;

      .organisation__header {
        position: relative;
        background-color: $level2_bg-color;
        color:$level2_text-color;
        margin-bottom: 15px;
        padding-bottom: 15px;

        .organisation__avatar {
          width: 150px;
        }
      }
      .form-container{

        background-color: $level2_bg-color;
      }
      form {
        padding: 5px 15px;
      }
    }
}



.container.login {
  max-width: 730px;
}

.logo-medium{
  width: 300px;
}
