@mixin label() {
  background-color: transparent;
  border: 1px solid $apicard-visibility-border-color;
  box-shadow: none;
  color: $apicard-visibility-color;
  height: fit-content;

  border-radius: 2px;
  padding: 3px 4px;
}
