.navbar-brand {
  font-size: 18px;
}

a.navbar-brand,
#teamSelector:hover {
  color: $sidebar-text-color;
}

.navbar .Select.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: #fff;
}

.navbar {
  background-color: $sidebar-bg-color;
  // padding: .5rem 1rem;
}

.logo-anonymous {
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu {
  background-color: $level3_bg-color;
}

.dropdown-item {
  color: $level3_link-color;

  &:hover {
    background-color: $level3_link-hover-bg-color;
    color: $level3_link-hover-color
  }

  &.danger {
    color: $danger-color;

    &:hover {
        background-color: $danger-color;
        color: #fff;
      }
  }
}

.dropdown-divider {
  border-color: $level3_link-color;

}

.add-member-select,
.general-search {
  width: 400px;
}

.add-member-select {
  z-index: 100;
}

.period-select:hover>div,
.general-search:hover>div,
.add-member-select:hover>div {
  cursor: pointer !important;
}

.general-search>div {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: $form-bg-color;
  color: $form-text-color;
  border-color: $form-border-color;
}

.full-width-select {
  width: 100%;
}

.navbar-toggle {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .darkmode {
//   color: $navbar-text-color;
//   &:hover{
//     color:$navbar-text-hover-color;
//   }
// }




///////////////////// new navbar

.navbar-container {
  height: 100vh;
  // background-color: $navbar-bg-color;
  // position: 'relative';
  // color: $navbar-text-color;


  .navbar {
    height: 100%;
    width: 55px;
    min-height: 300px;
    overflow-y: hidden;
  }
}

.navbar-panel {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 55px;
  background-color: $companion_bg-color;
  color: $companion_text-color;
  filter: brightness(105%);
  transition: width .2s ease-in-out;

  &.opened {
    width: calc(75vw - 55px);
    overflow-y: auto;

    @media screen and (min-width:768px) {
      width: calc(35vw - 55px);
    }
  }

  .navbar-panel__back {
    height: 40px;
    width: 40px;

    &:hover {
      border-radius: 50%;
      background-color: $companion_text-hover-bg-color;
      color: var(--companion-link-hover-text-color);
    }
  }
}

.navbar-panel-background {
  position: absolute;
  width: 0;
  height: 100vh;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
  width: 0;

  transition: width .2s ease-in-out;

  &.opened {
    width: 25vw;

    @media screen and (min-width:768px) {
      width: 65vw;
    }
  }
}

/// search panel

.panel {
  .blocks {
    .block {
      .block__category {
        color: $companion_text-color;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 12px;
      }

      .block__entries {
        .block__entry__link {
          cursor: pointer;
          font-size: 14px;
          color: $companion_link-color;
          margin-top: 5px;
          margin-bottom: 5px;
          border-radius: 4px;
          padding: .5rem;

          &:hover {
            background-color: $companion_text-hover-bg-color;
            color: $companion_text-hover-color;
          }
        }
      }
    }
  }
}

/// companion

.navbar-companion {
  z-index: 10;
  background-color: $companion_bg-color;
  filter: brightness(105%);
  height: 100vh;
  position: relative;
  min-width: 20px;
  width: 20px;
  height: 100vh;
  transition: width .2s ease-in-out;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  &.opened {
    width: 240px;

    .companion-content {
      opacity: 1;
      transition: opacity 0s .2s;
    }
  }

  .companion-content {
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0s 0s;
    padding: .5rem 1rem 0 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    .companion-title {
      // min-height: 40px;
      margin-bottom: 1rem;
      // overflow: hidden;
      // text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.14286;
      color: $companion_text-color;
      font-weight: 600;

      h3 {
        white-space: normal;
        word-break: break-word;
      }
    }


    .blocks {
      flex-grow: 1;

      .block {
        .block__entries {
          .block__entry__link {
            cursor: pointer;
            font-size: 14px;
            color: $companion_link-color;
            margin-bottom: 5px;
            line-height: 40px;
            border-radius: 4px;
            padding-left: .5rem;

            &.active {
              background-color: $companion_text-hover-bg-color;
              color: $companion_text-hover-color;
            }

            &.disabled {
              opacity: 0.5;
              cursor: default;
            }

            &:not(.disabled):hover {
              background-color: $companion_text-hover-bg-color;
              color: $companion_text-hover-color;
            }
          }

          .submenu__entry__link {
            cursor: pointer;
            font-size: 14px;
            color: $companion_link-color;
            margin-bottom: 4px;
            line-height: 35px;
            padding-left: .5rem;
            box-sizing: border-box;
            height: 35px;
            border-radius: 4px;

            &.active {
              // border-bottom: 1px solid $companion_text-hover-bg-color;
              // color: $companion_text-hover-color;
              background-color: $companion_text-hover-bg-color;
              color: $companion_text-hover-color;
            }

            &.disabled {
              color: lighten(#000, 50%);
              cursor: default;
            }

            &:hover {
              // border-bottom: 1px solid $companion_text-hover-bg-color;
              background-color: $companion_text-hover-bg-color;
              color: $companion_text-hover-color;
            }
          }

          .entry__submenu {
            margin-left: 1rem;
            font-size: 14px;
          }
        }
      }
    }
  }

  .companion-button {
    position: absolute;
    top: 20px;
    right: -12px;
    z-index: 1000;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);

    svg {
      height: 14px;
    }

    &:hover {
      // background-color: $navbar-bg-color;
      color: #fff;
      border: 1px solid rgba(0, 0, 0, .1);
    }
  }
}

// UsagePlan forms

.page__menu {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.page__menu__entry {
  cursor: pointer;
  font-size: 14px;
  color: $sidebar-text-color;
  margin-bottom: 5px;
  line-height: 40px;
  border-radius: 4px;
  padding-left: .5rem;

  &.active {
    background-color: $companion_text-hover-bg-color;
    color: $companion_text-hover-color;
  }

  &.disabled {
    color: lighten(#000, 50%);
    cursor: default;
  }

  &:hover {
    background-color: $companion_text-hover-bg-color;
    color: var(--menu-text-hover-color, #fff);
  }
}

.navbar_top .brand {
  height: 39px;
  width: 39px;

  img {
    width: 100%;
  }
}