@use "../variables";

.right-panel-container {
  position: fixed;
  height: calc(100vh - variables.$topbar-height);
  width: 0;
  overflow: hidden;
  z-index: 1000;

  &.opened {
    width: 100vw;
    top: variables.$topbar-height;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.right-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: variables.$companion_bg-color;
  color: variables.$companion_text-color;
  filter: brightness(105%);
  transition: width .2s ease-in-out;

  .right-panel__back {
    height: 40px;
    width: 40px;
    position: absolute;
    top: .5rem;
    right: .5rem;

    &:hover {
      border-radius: 50%;
      background-color: variables.$companion_text-hover-bg-color;
      color: var(--companion-link-hover-text-color);
    }
  }
}

.right-panel-background {
  position: relative;
  width: 0;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;

  transition: width .2s ease-in-out;

  &.opened {
    width: 100%;
  }
}