
/* navbar & sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 56px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 14px;
  background-color: $aside-bg-color;
  @media screen and (max-width: 768px) {
      top: 55px;
  }
  @media screen and (max-width: 540px) {
      top: 100px;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky .sub-nav {
  padding: 0.5rem 1rem;
}

.sidebar-sticky .sub-nav .nav-item {
  padding: 0.2rem 1.5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: $aside-text-color;
}

.sidebar .nav-link .fas {
  width: 20px;
  margin-right: 0.25rem;
}

.sidebar .nav-link.active,.sidebar .nav-link.active .fas  {
  color: $menu-text-hover-color;
  background-color: $menu-text-hover-bg-color;
}

.sidebar .nav-link.active .nav-icon {
  fill: $link-color;
}

.sidebar .nav-link:hover .feather,.sidebar .nav-link:hover .fas,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link:hover .nav-icon path,
.sidebar .nav-link.active .nav-icon path {
  fill: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#toggle-sidebar {
  z-index: 1000;
  position: absolute;
  left: 5px;
  @media screen and (max-width: 768px) {
      top: 100px;
  }
  @media screen and (max-width: 540px) {
      top: 145px;
  }

  &[aria-expanded="false"] .chevron:before {
    content: "\f078";
  }

  &[aria-expanded="true"] .chevron:before {
    content: "\f077";
  }

  .chevron {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  }
}
