body {
  font-family: Custom, Raleway, Helvetica, sans-serif;
  background-color: $level1_bg-color;
  color: $level1_text-color;
  font-size: 1rem;
}

main {
  background-color: $level1_bg-color;
}

[role="root-container"] {
  padding-top: 130px;

  @media screen and (min-width: 576px) {
    padding-top: 90px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.section,
.album {
  background-color: $level2_bg-color;
  color: $level2_text-color;
}

//remove blue border on chrome
*:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

.a-fake,
a {
  color: $level1_link-color;
}

.a-fake {
  cursor: pointer;
}

.a-fake:hover,
a:hover {
  color: $level1_link-hover-color;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

a.nav-link.active {
  background-color: rgb(233, 236, 239);
}

.link__disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.cursor-forbidden {
  cursor: not-allowed;
}

hr {
  border-top-color: $form-border-color;
}

.word-break {
  word-break: break-all;
}

.hide {
  display: none;
}

.user-logo {
  background-color: white;
}

.fa-xxs {
  font-size: 0.5em;
}

.lead {
  white-space: pre-wrap;
}

.api-description > p {
  text-align: justify;
  white-space: pre-wrap;
}

.hr-apidescription {
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
  border-top: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.changePicture {
  position: absolute;
  display: none;
  top: 0;
}

img:hover + .changePicture,
.changePicture:hover {
  display: block;
  opacity: 0.5;
}


/* rwd */
@media screen and (min-width: 576px) {
  .col-form-label {
    text-align: right;
  }
}

.impersonator-topbar-mb {
  @media screen and (max-width: 1100px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 540px) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 540px) {
  .nav-tabs {
    .nav-tabs .nav-item:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .nav-item.show .nav-link,
    .nav-link.active {
      background-color: $btn-bg-color;
    }
  }

  .onglets {
    padding-left: 15px;
  }

  .pricing-content {
    margin-top: 20px;
  }

  .h1-rwd-reduce {
    font-size: 1.8rem;
  }
}

.ohnohoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.wrapper:not(.information-container) {
  height: 100vh;
  overflow: scroll;
}

.companion-link {
  color: $companion_link-color;
  &:hover {
    background-color: $companion_text-hover-bg-color;
    color: $companion_text-hover-color;
  }
}

.level1-link {
  color: $level1_link-color;
  &:hover {
    color: $level1_link-hover-color;
  }
}

.level1{
  background-color: $level1_bg-color;
  color: $level1_text-color;
}
.level2 {
  background-color: $level2_bg-color;
  color: $level2_text-color;
}
.level3 {
  background-color: $level3_bg-color;
  color: $level3_text-color;
}
.level3-link {
  color: $level3_link-color;
  &:hover {
    color: $level3_link-hover-color;
    background-color: $level3_link-hover-bg-color;
  }
}

.level2-link {
  color: $level2_link-color;
  &:hover {
    color: $level2_link-hover-color;
  }
  &__with-bg:hover,
  &__active-bg {
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
  }
}
