*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul{
 list-style-type: none;
}

.maif-color-text{
  color:#fc0d1a;
}

header {
  text-align: center;
  background-color: #F2F2F2
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.header-left img {
  height: auto;
  max-width: 59px;
}

.header-right .non-connecte a, header .header-right .non-connecte button {
  color: #2e404f;
  cursor: pointer;
  padding: 6px 12px;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.header-right .non-connecte a .icon, header .header-right .non-connecte button .icon {
  width: 38px;
  border-radius: 50%;
}

.header-right img{
  max-width: 30px;
  border-radius: 50%;
}

header-left {
  text-align: left;
}

.header-right {
  display: flex;
  justify-content: start
}

.header-right .buttons {
  display: flex;
  flex-direction: column;
}

.header-right .buttons a {
  justify-content: start;
  display: flex;
  padding: 0;
  color: #212529;
}

.container-burger-menu {
  justify-content: right;
  margin-top: 0.5em;
}

.sidenav {
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -290px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: right 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

body {
  font-family: Custom, Raleway, Helvetica, sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

.offre-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid #fc0d1a 5px;
}

.offre-title-double {
  display: flex;
  flex-direction: column;
}

.offre-title-double img:not(:last-child) {
  margin-bottom: -20px;
}

.offre-title-double img {
  padding-bottom: 0 !important;
}

.offre-title img {
  padding-bottom: 0.7em;
  padding-right: 3em;
}

.offre-title-detail {
  font-size: 12px;
}

.offre-title-2 {
  font-size: 18px;
}

.offre-text {
  font-size: 20px;
}

.offre-bandeau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FBEBE9;
  padding: 10px;
  min-height: 120px;
  text-align: center;
}

.offre-bandeau img {
  padding-right: 5em;
}

.offre-bandeau-reverse img {
  -webkit-transform: scaleX(-1);
  padding-left: 5em;
}

.offre-description-text {
  display: flex;
  flex-direction: column;
}

.offre-description-text-margin {
  margin-top: 3em;
}

.offre-img-padding {
  align-items: end;
}

.offre-img-padding img{
  width: -webkit-fill-available;
}

.offre-ul {
  > li {
    font-style: italic;
  }
}

.offre-li-detail {
  font-size: 10px;
}

.img-reduction img {
  width: 70%;
  height: 80%;
}

.container {
   flex: 1; 
}

.home-section .home-section-header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.home-section-body > div {
    margin-bottom: 3rem;
}

.img-inherit img {
    width: inherit;
}

.home-img img {
  width: 485px;  
}

.home-section-side {    
  padding-top: 4em;
}

.home-section-side img {
  margin-top: 1em;
  max-width: 130px;
}

.icon-menu {
  border: solid 1px grey;
  border-radius: 0.75em;
  margin-bottom: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 140px;
  text-align: center;
}

.icon-menu-disabled {
  filter: grayscale(1);
}

.icon-menu img {
  height: 80px;
  width: 80px;
}

.icon-menu a {
  color: black;
  text-decoration: none
}

.icon-menu a:hover{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.icon-menu-text {
  margin-bottom: 0 !important
}

.fa-check:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #fc0d1a;
  padding-right: 0.3em;
}

.fa-close:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #fc0d1a;
  padding-right: 0.3em;
}

.parcours-span {
  text-align: center;
  img {
    max-width:130px
  }
  margin-bottom: 1.5em;
}

.parcours-span-block {
  align-items: center;
}

.offre-parcours {
  padding-top: 3em;
}

.offre-parcours-li:before {
  content: '- '
}

.schema-bloc {
  width:50%;
}

.schema-marge {
  margin-right: 0.5em;
  width: auto !important
}

.schema-title {
  border: 1px solid;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}

.schema-text {
  background-color: #F2F2F2;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0.5em 0.25em 0.5em 0.25em;
  border-radius: 5px;
  font-size: 12px;
  height: 70px;
  align-items: center;
  text-align: center;
  margin-bottom: 0.25em;
  width: 100%;
}

.schema-text-title {
  font-size: 18px;
  color: #fc0d1a;
  font-weight: bold;
}

.axterisque-block {
  margin-bottom: 0 !important;
}

.axterisque {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

.axterisque p {
  margin-bottom: 0 !important
}

.axterisque p:not(:last-child) {
  padding-right: 3em;
}

.contactez-nous {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-right: 2em;
}

.contactez-nous button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 0;
  font-family: inherit;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
}

.contactez-nous button:focus {
  outline: none;
}

.contactez-nous button > p {
  font-size: 12px;
  font-weight: bold;
  padding-top: 1.1em;
}

footer .navbar {
  display: flex;
  justify-content: space-between;
/*   min-height: 60px; */
  font-size: 14px;
  background-image: linear-gradient(to left, #684a52, #595667);
  color: #fff;
}

footer .navbar .liens-utiles {
  padding: 0 0 0 1.5rem;
}

footer .navbar .liens-utiles button, footer .navbar .liens-utiles a {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  margin: 0;
  text-decoration: none;
}

footer .navbar .liens-utiles button:after, footer .navbar .liens-utiles a:after {
  content: "|";
  margin: 0 0.5rem;
}

footer .reseaux-sociaux {
  padding: 0 0 0 1.5rem;
}

footer .reseaux-sociaux button, footer .reseaux-sociaux a {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  margin: 0;
}

@media screen and (min-width: 250px) {
  .offre-block-img {
    width: 70px;
  }  
  .offre-block-img img {
    width: 69px;
    height: 69px;
  }  
  .offre-block-text {
    min-width: 180px;
  }
}

@media screen and (max-width: 250px) {
  .offre-block-img {
    display: none;
  }
  .offre-block-text {
    width: inherit;
  }  
}

@media screen and (min-width: 298px) {
  .icon-menu {
     margin-right: 1em;
  }
}

@media screen and (max-width: 330px) {
  .menu-title {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .offre-title img {
    display: none;
  }
  .offre-bandeau img {
    display: none;
  }
  .schema-text-title {
    font-size: 12px !important;
  }
  .schema-text {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 768px) {
  .fa-arrow-right:before {
    content: "\f061c";
    font-family: 'FontAwesome';
    color: #fc0d1a;
    font-size:2.5em;
    margin-right: -15px;
  }
  .fa-arrow-down:before {
    display:none
  }
  .arrow {
    margin-left: -30px;
    height: auto;
    display: flex;
    align-items: end;
  } 
  .border-dotted {
    border-right: dotted 3px red;
  }
  .schema {
    margin-right: 1em !important;
  }
}
@media screen and (max-width: 768px) {
  .fa-arrow-right:before {
    display:none
  }
  .fa-arrow-down:before {
    content: "\f061c";
    font-family: 'FontAwesome';
    color: #fc0d1a;
    font-size:2.5em;
  }
}
@media screen and (min-width: 992px) {
  .home-section .home-section-left span {
    text-wrap: nowrap;
    z-index: 1;
  }
  .home-section .home-section-left {
      margin-top: 5em;
  }
  .home-section .home-section-left .en-tete {
    margin-top: 3em;
    text-align: end;
  }
  .en-tete {
    font-size: 23px;
    line-height: 2rem;
  }
  .offre-parcours-img {
    display: inline-flex!important;
    align-items: end;
  }
}


@media screen and (max-width: 992px) {
  .offre-parcours-img {
    display: none;
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 9999;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

.modal-content-scroll {
  overflow-y: scroll;
  height: 100%;
}

.modal .modal-content .modal-header {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.modal .modal-content .modal-header span {
  cursor: pointer;
}
.modal .modal-content .modal-footer {
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0rem 1rem;
}
.modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content h1 {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
.modal .modal-content h2 {
  line-height: 1.2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.modal .modal-content h3 {
  color: #c62222;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.modal .modal-content p {
  margin-bottom: 1rem;
  text-align: justify;
}
.modal .modal-content ul {
  margin-bottom: 1em;
  margin-top: 0;
}
.modal .modal-content ul li {
  list-style-type: none;
  padding-left: 2rem;
}
.modal .modal-content form {
  margin: 1rem 0;
  font-weight: 500;
}
.modal .modal-content form .form-group {
  margin-bottom: 1rem;
  padding-bottom: 10px;
}
.modal .modal-content form .form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.modal .modal-content form .form-group .form-control {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  padding: 0.375rem 2%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 96%;
}
.modal .modal-content form .form-group select.form-control[multiple], .modal .modal-content form .form-group select.form-control[size], .modal .modal-content form .form-group textarea.form-control {
  height: auto;
}
.modal .modal-content form button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  border-color: #28a745;
  color: #28a745;
}
.modal .modal-content form textarea {
  font-family: inherit;
} */