.DS_Store
.metals
.vscode
*.swp
node_modules
.idea
target
.java-version
*.patch
.settings
.project
*.iml
es-data
s3-data
pg-data
mongo-data
/demo/config/mongo-data/
/demo/config/redis-data/
daikoku/javascript/cypress/videos
daikoku/javascript/cypress/results
daikoku/javascript/cypress/screenshots
daikoku/javascript/index.json
.yalc
yalc.lock
daikoku/javascript/yarn-error.log