<html>

<head>
    <style>
        @import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.css');

        body {
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        * {
            font-family: inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
        }
    </style>
</head>
<h1>{{message}}</h1>

</html>