
.content-switch-button {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
}

.content-switch-button-on {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
  justify-content: flex-end;
}

.content-switch-button-off {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  justify-content: flex-start;
}

.switch-button {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.switch-button-on {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.switch-button-off {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid #dfdfdf;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}