body {
    background-color: #eee;
    margin: 0;
    font-family: "Gill Sans", sans-serif
  }
  
  .navbar {
    background-color: var(--navbar-bg-color, #7f96af);
    padding: 8px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  footer {
    background-color: var(--navbar-bg-color, #7f96af);
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    #padding: 12px;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff
  }
  
  .navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-button {
    border: none;
    border-radius: 4px;
    padding: 6px;
    box-shadow: 0 1px 3px rgb(0,0,0);
    cursor: pointer;
  }
  
  .api-block a,
  .api a,
  .navbar-button a {
    color: #000 !important;
    font-size: 14px !important;
  }
  
  .pad {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .information-block {
    display: flex;
    flex: 1;
    min-width: 20%;
    margin-right: 6px;
    margin-bottom: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0,0,0);
  }
  
  .information-block span:first-child {
    font-weight: bold;
  }
  
  .api {
    display: flex;
    flex: 1;
    min-height: 320px;
    margin-right: 6px;
    margin-bottom: 6px;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    padding: 24px 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0,0,0);
  }
  
  
  .api button {
    margin-top: auto;
  }
  
  .api-name {
    text-align: center;
  }
  
  .api-description {
    padding: 12px;
  }
  
  .api-block {
    padding: 24px;
  }