:root {
  --level1_bg-color: pink;
  --level1_text-color: green;
  --level1_link-color:red;
  --level1_link-hover-color:yellow;
  
  --level2_bg-color: orange;
  --level2_text-color: blue;
  --level2_link-color: red;
  --level2_link-hover-color: brown;

  --level3_bg-color : #bbd700;
  --level3_text-color : #222;
  --level3_link-color: #4c4c4d;
  --level3_link-hover-color : #000;
  --level3_link-hover-bg-color :grey;

  --sidebar-bg-color: beige;
  --sidebar-text-color: brown;
  --sidebar-text-hover-color:orange;      

  --menu-bg-color: #fba979;
  --menu-text-color: #ac6407;
  --menu-text-hover-bg-color: cadetblue;
  --menu-text-hover-color: yellow;
  --menu-divider-color: grey;     

  --card_header-bg-color : indigo;
  --card_header-text-color: gold;
  --card_bg-color: lavender;
  --card_text-color: black;
  --card_link-color: lightseagreen;
  --card_link-hover-color : lime;
  
  --btn-bg-color: #fff;
  --btn-text-color: #495057;
  --btn-border-color: #97b0c7;

  --badge-tags-bg-color: #ffc107;
  --badge-tags-bg-hover-color: #ffe1a7;
  --badge-tags-text-color: #212529;

  --form-text-color: #000;
  --form-border-color: #586069;
  --form-bg-color: #ff5e8c;

  --form-select-focused-color: lightgrey;
  --form-select-focused-text-color: white;
  --form-select-heading-color: yellow;
  --form-select-hover-color: lightgrey;
  --form-select-hover-text-color: white;

  --error-color:#dc3545;
  --info-color: #17a2b8;
  --success-color: #65B741;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --primary-color: rebeccaPurple;  
}