:root {
  --level1_bg-color: #fff;
  --level1_text-color: #626262;
  --level1_link-color: #626262;
  --level1_link-hover-color: orange;

  --level2_bg-color: #F9F9F9;
  --level2_text-color: #1E1E1E;
  --level2_link-color: #605c5c;
  --level2_link-hover-color: #1E1E1E;

  --level3_bg-color: #EEEEEE;
  --level3_text-color: #222;
  --level3_link-color: #4c4c4d;
  --level3_link-hover-color: #000;
  --level3_link-hover-bg-color: grey;

  --sidebar-bg-color: #29438D;
  --sidebar-text-color: #fff;
  --sidebar-text-hover-color: orange;

  --menu-bg-color: #fff;
  --menu-text-color: #aaa;
  --menu-text-hover-bg-color: #444;
  --menu-text-hover-color: #fff;
  --menu-link-color: #666;

  --card_header-bg-color: #404040;
  --card_header-text-color: #fff;
  --card_bg-color: #282828;
  --card_text-color: #fff;
  --card_link-color: #ffe1a7;
  --card_link-hover-color: #ffc107;

  --btn-bg-color: #fff;
  --btn-text-color: #495057;
  --btn-border-color: #97b0c7;

  --badge-tags-bg-color: #ffc107;
  --badge-tags-bg-hover-color: #ffe1a7;
  --badge-tags-text-color: #212529;

  --form-text-color: #000;
  --form-border-color: #586069;
  --form-bg-color: #fff;

  --form-select-focused-color: lightgrey;
  --form-select-focused-text-color: white;
  --form-select-heading-color: yellow;
  --form-select-hover-color: lightgrey;
  --form-select-hover-text-color: white;

  --error-color: #dc3545;
  --info-color: #17a2b8;
  --success-color: #65B741;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --neutral-color: #4e5760;

  --primary-color: #29438D;
}

:root[data-theme="DARK"] {
  --level1_bg-color: #000;
  --level1_text-color: #b3b3b3;
  --level1_link-color: #b3b3b3;
  --level1_link-hover-color: orange;

  --level2_bg-color: #121212;
  --level2_text-color: #b3b3b3;
  --level2_link-color: #9f9e9e;
  --level2_link-hover-color: #fff;

  --level3_bg-color: #242424;
  --level3_text-color: #e8e8e8;
  --level3_link-color: #9f9e9e;
  --level3_link-hover-color: #fff;
  --level3_link-hover-bg-color: grey;

  --sidebar-bg-color: #121212;
  --sidebar-text-color: #b3b3b3;
  --sidebar-text-hover-color: orange;

  --menu-bg-color: #242424;
  --menu-text-color: #fff;
  --menu-text-hover-bg-color: #121212;
  --menu-text-hover-color: #fff;
  --menu-link-color: #b3b3b3;

  --card_header-bg-color: #404040;
  --card_header-text-color: #fff;
  --card_bg-color: #282828;
  --card_text-color: #fff;
  --card_link-color: #ffe1a7;
  --card_link-hover-color: #ffc107;

  --btn-bg-color: #fff;
  --btn-text-color: #495057;
  --btn-border-color: #97b0c7;

  --badge-tags-bg-color: #ffc107;
  --badge-tags-bg-hover-color: #ffe1a7;
  --badge-tags-text-color: #212529;

  --form-text-color: #000;
  --form-border-color: #586069;
  --form-bg-color: #fff;

  --form-select-focused-color: grey;
  --form-select-focused-text-color: white;
  --form-select-heading-color: yellow;
  --form-select-hover-color: grey;
  --form-select-hover-text-color: white;

  --error-color: #dc3545;
  --info-color: #17a2b8;
  --success-color: #65B741;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --neutral-color: #4e5760;

  --primary-color: orange;
}