:root {
  --primitive-primary-800: #0a1e57;
  --primitive-primary-600: #29438d;
  --primitive-primary-400: #3b57a6;
  --primitive-primary-100: #d6dbe9;
  --primitive-primary-050: #f4f5f9;

  --primitive-neutral-900: #1e1e1e;
  --primitive-neutral-800: #373737;
  --primitive-neutral-700: #505050;
  --primitive-neutral-600: #696969;
  --primitive-neutral-500: #828282;
  --primitive-neutral-400: #9b9b9b;
  --primitive-neutral-300: #b4b4b4;
  --primitive-neutral-200: #cdcdcd;
  --primitive-neutral-100: #e6e6e6;
  --primitive-neutral-000: #fff;

  --primitive-success-800: #003f00;
  --primitive-success-500: #006300;
  --primitive-success-200: #eefbef;

  --primitive-danger-800: #60090d;
  --primitive-danger-500: #95090f;
  --primitive-danger-200: #fceff0;

  --primitive-warning-800: #c8e0d8;
  --primitive-warning-500: #856404;
  --primitive-warning-200: #fffcd3;

  --primitive-info-800: #112b6c;
  --primitive-info-500: #11379b;
  --primitive-info-200: #ebf0fa;

  --level1_bg-color: #f9f9f9;
  --level1_text-color: #000;
  --level1_link-color: #626262;
  --level1_link-hover-color: orange;

  --level2_bg-color: #ffffff;
  --level2_text-color: #1e1e1e;
  --level2_link-color: #605c5c;
  --level2_link-hover-color: #1e1e1e;

  --level3_bg-color: #fff;
  --level3_text-color: #222;
  --level3_link-color: #4c4c4d;
  --level3_link-hover-color: #000;
  --level3_link-hover-bg-color: grey;

  --sidebar-bg-color: #29438d;
  --sidebar-text-color: #fff;
  --sidebar-text-hover-color: orange;

  --menu-bg-color: #fff;
  --menu-text-color: #aaa;
  --menu-text-hover-bg-color: #444;
  --menu-text-hover-color: #fff;
  --menu-link-color: #666;

  --card_header-bg-color: #404040;
  --card_header-text-color: #fff;
  --card_bg-color: #282828;
  --card_text-color: #fff;
  --card_link-color: #ffe1a7;
  --card_link-hover-color: #ffc107;

  --btn-bg-color: #fff;
  --btn-text-color: #495057;
  --btn-border-color: #97b0c7;

  --badge-tags-bg-color: #ffc107;
  --badge-tags-bg-hover-color: #ffe1a7;
  --badge-tags-text-color: #212529;

  --form-text-color: #000;
  --form-border-color: #586069;
  --form-bg-color: #fff;

  --form-select-focused-color: lightgrey;
  --form-select-focused-text-color: white;
  --form-select-heading-color: yellow;
  --form-select-hover-color: lightgrey;
  --form-select-hover-text-color: white;

  --info-color: var(--primitive-info-500);
  --info-color-bg: var(--primitive-info-200);

  --success-color: var(--primitive-success-500);
  --success-color-bg: var(--primitive-success-200);

  --warning-color: var(--primitive-warning-500);
  --warning-color-bg: var(--primitive-warning-200);

  --danger-color: var(--primitive-danger-500);
  --danger-color-bg: var(--primitive-danger-200);

  --neutral-color: var(--primitive-neutral-500);
  --neutral-color-bg: var(--primitive-neutral-100);

  --primary-color: var(--primitive-primary-600);
  --primary-color-bg: var(--primitive-primary-100);
}

:root[data-theme="DARK"] {
  --level1_bg-color: #000;
  --level1_text-color: #b3b3b3;
  --level1_link-color: #b3b3b3;
  --level1_link-hover-color: orange;

  --level2_bg-color: #121212;
  --level2_text-color: #b3b3b3;
  --level2_link-color: #9f9e9e;
  --level2_link-hover-color: #fff;

  --level3_bg-color: #242424;
  --level3_text-color: #e8e8e8;
  --level3_link-color: #9f9e9e;
  --level3_link-hover-color: #fff;
  --level3_link-hover-bg-color: grey;

  --sidebar-bg-color: #121212;
  --sidebar-text-color: #b3b3b3;
  --sidebar-text-hover-color: orange;

  --menu-bg-color: #242424;
  --menu-text-color: #fff;
  --menu-text-hover-bg-color: #121212;
  --menu-text-hover-color: #fff;
  --menu-link-color: #b3b3b3;

  --card_header-bg-color: #404040;
  --card_header-text-color: #fff;
  --card_bg-color: #282828;
  --card_text-color: #fff;
  --card_link-color: #ffe1a7;
  --card_link-hover-color: #ffc107;

  --btn-bg-color: #fff;
  --btn-text-color: #495057;
  --btn-border-color: #97b0c7;

  --badge-tags-bg-color: #ffc107;
  --badge-tags-bg-hover-color: #ffe1a7;
  --badge-tags-text-color: #212529;

  --form-text-color: #000;
  --form-border-color: #586069;
  --form-bg-color: #fff;

  --form-select-focused-color: grey;
  --form-select-focused-text-color: white;
  --form-select-heading-color: yellow;
  --form-select-hover-color: grey;
  --form-select-hover-text-color: white;

  --error-color: #dc3545;
  --info-color: #17a2b8;
  --success-color: #65b741;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --neutral-color: #4e5760;

  --primary-color: orange;
}
