:root {
  --body_bg-color: #f1f3f6;
  --body_text-color: #8a8a8a;
  --body_link-color:#4c4c4d;
  --body_link-hover-color:orange;
  
  --level2_bg-color: #e5e7ea;
  --level2_text-color: #4c4c4d;
  --level2_link-color: #605c5c;
  --level2_link-hover-color: #000;  

  --level3_bg-color : #fff;
  --level3_text-color : #222;
  --level3_link-color: #4c4c4d;
  --level3_link-hover-color : #000;
  --level3_link-hover-bg-color :grey;

  --sidebar-bg-color: #e5e7ea;
  --sidebar-text-color: #4c4c4d;
  --sidebar-text-hover-color:orange;

  --menu-bg-color: #fff;
  --menu-text-color: #aaa;
  --menu-text-hover-bg-color: #444;
  --menu-text-hover-color: #fff;
  --menu-link-color: #666; 

  --card_header-bg-color: #404040;
  --card_header-text-color: #fff;
  --card_bg-color: #282828;
  --card_text-color: #fff;
  --card_link-color: #ffe1a7;
  --card_link-hover-color : #ffc107;

  --btn-bg-color: #fff;
  --btn-text-color: #495057;
  --btn-border-color: #97b0c7;

  --badge-tags-bg-color: #ffc107;
  --badge-tags-bg-hover-color: #ffe1a7;
  --badge-tags-text-color: #212529;    

  --form-text-color: #000;
  --form-border-color: #586069;
  --form-bg-color: #fff;

  --form-select-focused-color: lightgrey;
  --form-select-focused-text-color: white;
  --form-select-heading-color: yellow;
  --form-select-hover-color: lightgrey;
  --form-select-hover-text-color: white;

  --error-color:#dc3545;
  --info-color: #17a2b8;
  --success-color: #65B741;
  --warning-color: #ffc107;
  --danger-color: #dc3545;  
}