@use '../variables.scss';

.ant-calendar-range-picker-input{
  color:variables.$form-text-color;
}

.ant-btn {
  border-radius: 5px;
  border-width: 1px;
}

.ant-btn-primary{
  border-color: #007bff;
  color:#007bff;
}