@use "sass:color";
@use "../variables";

.card {
  background-color: variables.$card-bg-color;
  color: variables.$card-text-color;

  .card-body {
    border: none !important;

    .a-fake,
    a {
      color: variables.$card-link-color;

      &:hover {
        color: variables.$card-link-hover-color;
      }
    }

    .card-text {
      height: 100px;
      overflow: hidden;
    }
  }

  .plan-body {
    border: none;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: scroll;
  }

  #dropdownMenuButton {
    color: variables.$card-link-color;

    &:hover {
      color: variables.$card-link-hover-color;
    }
  }
}

.card-header {
  height: 175px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$card-header-bg-color;
  color: variables.$card-header-text-color;
  font-family: Arial, Helvetica, "Open Sans", sans-serif, monospace;
  font-size: 25pt;
  text-align: center;
  position: relative;
  // overflow: hidden;
}


.plan-name {
  font-size: 1.75rem;
  font-weight: 500;
}

.plan-quotas,
.plan-pricing {
  font-size: .75rem;
}

a.card-link:hover,
a.card-link:visited,
a.card-link:link,
a.card-link:active {
  text-decoration: none;
}

.api__name {
  font-size: 1.5rem;

  &.api--forbidden {
    cursor: not-allowed;
  }
}

.card-img-top:hover .btn {
  display: block;
}

.pricing-content {
  gap: 20px;
}

.usage-plan__card {
  padding: 0;
  border: none;
  width: calc(33% - 10px);
}

.fake-pricing-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: variables.$card-header-bg-color;

  &:hover {
    background-color: variables.$card-header-bg-color;

    &:before {
      color: variables.$card-header-text-color;
    }
  }

  &:before {
    content: '+';
    font-size: 5rem;
  }
}

.api-group-info {
  position: sticky;
  bottom: 5px;
  padding: 5px 10px;
  color: variables.$level1_text-color;
  background-color: variables.$level1_bg-color;
  border-top: 1px solid variables.$level3_text-color;
}

.api-card {

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .favorite-btn {
    display: none;
  }

  &.starred,
  &:hover {
    .favorite-btn {
      display: block;
    }
  }
}