@use "../variables";

@keyframes pulseBig {
  0% {
    opacity: 0.5;
  }

  70% {
    opacity: 0;
    transform: scale(1.6);
  }

  100% {
    opacity: 0;
  }
}

.api-subscription {
  position: relative;
  width: 70%;
  // display: flex;
  gap: 1rem;


  border: 1px solid variables.$level3_text-color;
  background-color: variables.$level3_bg-color;
  border-radius: 0.375rem;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 10px;

  .api-subscription__container {
    display: flex;
    margin-bottom: 1rem;
  }

  .api-subscription__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 18%;

    grid-column-start: first;
    grid-column-end: infos;
    grid-row: main;

    i.icon {
      font-size: 2rem;
      margin-bottom: 0.375rem;
    }

    .api-subscription__value__type {
      border: 1px solid variables.$level1_link-color;
      border-radius: 1.9rem;
      padding: 0 0.25rem;
      display: flex;
      align-items: center;
      line-height: 1rem;
      padding: .35rem .75rem;

    }

    .dot {
      display: block;
      margin-right: 10px;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      position: relative;
      margin-left: .5rem;

      &.enabled {
        background-color: variables.$success-color;
      }

      &.disabled {
        background-color: variables.$error-color;
      }
    }

    .dot::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      animation: pulseBig 2s infinite;
      opacity: 1;
      border-radius: 50%;
      top: 0;
      left: 0;
      background-color: inherit;
    }
  }

  .api-subscription__infos {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .api-subscription__infos__name {
      font-weight: bold;
    }

    .api-subscription__infos__value {
      font-size: 12px;
      word-break: break-all;
    }

    .api-subscription__infos__state {
      color: variables.$success-color;
    }
    .api-subscription__infos__creation {
      font-size: 14px;
    }
  }

  .api-subscriptions__links {
    font-size: .75rem;
  }

  


}

.api-susbcription__display-link {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  text-wrap: wrap;
  word-wrap: break-word;
  word-break: keep-all;

  background-color: variables.$level2_bg-color;
  color: variables.$level2_text-color;
}