@import "../variables";

.back-office-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;

  &.active {
    display: block;
  }

  &:not(.active) {
    display: none;
  }
}

// ************************
// *** TEAM BACK OFFICE ***
// ************************

// *****************
// *** DASHBOARD ***
// *****************

.tbo__dasboard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;

  .widget {

    height: 300px;
    overflow-y: scroll;
    border-radius: 4px;
    background-color: $sidebar-bg-color;
    color: $sidebar-text-color;
  }

  .small{
    width: calc(30% - 20px);
  }
  .medium {    width: calc(60% - 20px);

  }
  .large {    width: calc(90% - 20px);

  }
  .widget-body {
    overflow-y: scroll;
  }

  .widget-title {
    padding: 0.5rem 1rem;
    border: 0.1rem solid;
    border-bottom: 0.5rem solid;
    border-color: $btn-border-color;
    background-color: $btn-bg-color;
    color: $btn-text-color;
    text-align: center;
  }

  .widget-list-default-item,
  .widget-list-item {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    margin: 10px;
    border-left: 2px solid #fff;
    min-height: 30px;
    padding: 0.5rem 1rem;

    .item-title {
      font-size: 16px;
    }
  }

  .revenus .percent span {
    font-size: 32px;
  }
  .revenus .percent {
    &.high {
      color: green;
      i{
        rotate: 325deg;
      }
    }

    &.low {
      color: red;
    }
    i{
      rotate: 45deg;
    }
  }
}
