@use "../variables";

.badge-custom {
  background-color: variables.$badge-tags-bg-color;
  color:variables.$badge-tags-text-color;
  &:hover{
    background-color: variables.$badge-tags-bg-hover-color;
  }
}

.issue__tag {
  border-radius: 7px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 7px;
  white-space: nowrap;
}