@use "../variables";
@use "sass:color";
@use "sass:map";

@mixin badge-custom($bg, $text) {
  background-color: $bg;
  color: color-mix(in srgb, $bg 50%, #000);
  position: relative;
  z-index: 0;
  cursor: pointer;
  padding: .5rem;
}

$badge-colors: (
  custom: (bg: variables.$badge-tags-bg-color, text: variables.$badge-tags-text-color),
  info: (bg: variables.$info-color, text: #fff),
  success: (bg: variables.$success-color, text: #fff),
  warning: (bg: variables.$warning-color, text: #fff),
  danger: (bg: variables.$danger-color, text: #fff),

);

@each $name, $colors in $badge-colors {
  .badge-custom-#{$name} {
    @include badge-custom(map.get($colors, bg),
      map.get($colors, text));
  }
}



.badge-custom {
  background-color: variables.$badge-tags-bg-color;
  color: variables.$badge-tags-text-color;

  &:hover {
    background-color: variables.$badge-tags-bg-hover-color;
  }
}

.issue__tag {
  border-radius: 7px;
  font-weight: 500;
  font-size: 15px;
  padding: 0 7px;
  white-space: nowrap;
}