button {
  background-color: #fff;
}

.btn-access {
  color: $btn-bg-color;
  background-color: $btn-text-color;
  border-color: $btn-bg-color;
  &:hover {
    color: $btn-bg-color;
    background-color: $btn-text-color;
  }
  &-negative {
    color: $btn-text-color;
    border-color: $btn-border-color;
    background-color: $btn-bg-color;
    &:hover {
      color: $btn-bg-color;
      background-color: $btn-border-color;
    }
  }
}

.btn-danger {
  color: #fff;
  border-color: $error-color;
  background-color: $error-color;

  &-negative {
    color: $error-color;
    border-color: $error-color;
    background-color: $btn-bg-color;

    &:hover {
      color: #fff;
      background-color: $error-color;
    }
  }

  &:hover {
    color: #fff;
    background-color: $error-color;
  }
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.btn-outline-primary:hover,
.btn-outline-danger:hover,
.btn-outline-success:hover,
.btn.btn-danger:hover {
  color: #fff;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled,
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  background-color: #fff;
  border-color: #9e9e9e;
  color: #9e9e9e;
  &:hover,
  &.active {
    color: #9e9e9e !important;
  }
}

.btn-outline-success, .btn-outline-success:focus {
  background-color: #fff;
  color: $success-color;
  border-color: $success-color;
  &:hover,
  &.active {
    color: #fff;
    background-color: $success-color;
    border-color: $success-color;
  }
}

.btn-outline-danger, .btn-outline-danger:focus {
  background-color: #fff;
  color: $danger-color;
  border-color: $danger-color;
  &:hover,
  &.active {
    color: #fff;
    background-color: $danger-color;
    border-color: $danger-color;
  }
}

.btn-outline-primary, .btn-outline-primary:focus {
  background-color: #fff;
  color: $info-color;
  border-color: $info-color;
  &:hover,
  &.active {
    color: #fff;
    background-color: $info-color;
    border-color: $info-color;
  }
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  border-color: $info-color;
  background-color: $info-color;
}

.btn-for-descriptionToolbar {
  text-align: left;
  cursor: pointer;
  height: 22px;
  padding: 4px;
  border: none;
  background: none;
  color: #242729;
  margin-right: 5px;
  margin-left: 5px;
}

.multi-button-container {
  position: relative;
  width: 40px;
  height: 40px;

  .multi-btn-center {
  }

  .multi-button {
    transition: all 0.2s ease-in-out;
    position: absolute;

    &.hidden {
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  .multi-button-right {
    right: -30px;
  }
  .multi-button-left {
    left: -30px;
  }
  .multi-button-down {
    bottom: -30px;
  }
  .multi-button-up {
    top: -30px;
  }
}

.star-button{
  border-radius: 4px;
  border:'1px solid';
  overflow: hidden;
  box-sizing: content-box;
  border-color: var(--btn-border-color, #97b0c7);
  background-color: var(--btn-border-color, #fff);
  font-size: 18px;
}