@use "../variables";

@use 'sass:color';

button {
  background-color: #fff;
}

.btn-outline {
  color: variables.$btn-bg-color !important;
  background-color: variables.$btn-text-color !important;
  border-color: variables.$btn-bg-color !important;

  &:hover {
    color: variables.$btn-bg-color !important;
    background-color: variables.$btn-text-color !important;
  }

  &-primary {
    color: #fff !important;
    border-color: variables.$primary-color !important;
    background-color: variables.$primary-color !important;

    // , :not(.btn-check) + .btn:active
    &.active,
    &:active {
      color: #fff !important;
      background-color: color-mix(in srgb, variables.$primary-color 70%, #000) !important;
      border-color: color-mix(in srgb, variables.$primary-color 70%, #000) !important;
    }

    &:hover {
      color: #fff !important;
      background-color: color-mix(in srgb, variables.$primary-color 70%, #000) !important;
      border-color: color-mix(in srgb, variables.$primary-color 70%, #000) !important;
    }
  }
}

.btn-danger {
  color: #fff;
  border-color: variables.$error-color;
  background-color: variables.$error-color;

  &-negative {
    color: variables.$error-color;
    border-color: variables.$error-color;
    background-color: variables.$btn-bg-color;

    &:hover {
      color: #fff;
      background-color: variables.$error-color;
    }
  }

  &:hover {
    color: #fff;
    background-color: variables.$error-color;
  }
}

.btn-group-xs>.btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.btn-outline-info:hover,
.btn-outline-danger:hover,
.btn-outline-success:hover,
.btn.btn-danger:hover {
  color: #fff;
}

.btn-outline-primary.disabled,
.btn-outline-primary.link__disabled,
.btn-outline-primary:disabled,
.btn-outline-success.disabled,
.btn-outline-success.link__disabled,
.btn-outline-success:disabled,
.btn-outline-info.disabled,
.btn-outline-info.link__disabled,
.btn-outline-info:disabled {
  background-color: #fff !important;
  border-color: #9e9e9e !important;
  color: #9e9e9e !important;

  &:hover,
  &.active {
    color: #9e9e9e !important;
  }
}

.btn-outline-secondary,
.btn-outline-secondary:focus {
  background-color: #fff;
  color: variables.$primary-color;
  border-color: variables.$primary-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: color-mix(in srgb, variables.$primary-color 90%, #000);
    border-color: color-mix(in srgb, variables.$primary-color 90%, #000);
  }
}

.btn-outline-success,
.btn-outline-success:focus {
  background-color: #fff;
  color: variables.$success-color;
  border-color: variables.$success-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: variables.$success-color;
    border-color: variables.$success-color;
  }
}

.btn-outline-danger,
.btn-outline-danger:focus {
  background-color: #fff;
  color: variables.$danger-color;
  border-color: variables.$danger-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: variables.$danger-color;
    border-color: variables.$danger-color;
  }
}

.btn-outline-info,
.btn-outline-info:focus {
  background-color: #fff;
  color: variables.$info-color;
  border-color: variables.$info-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: variables.$info-color;
    border-color: variables.$info-color;
  }
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  border-color: variables.$info-color;
  background-color: variables.$info-color;
}

.btn-for-descriptionToolbar {
  text-align: left;
  cursor: pointer;
  height: 22px;
  padding: 4px;
  border: none;
  background: none;
  color: #242729;
  margin-right: 5px;
  margin-left: 5px;
}

.multi-button-container {
  position: relative;
  width: 40px;
  height: 40px;

  .multi-btn-center {}

  .multi-button {
    transition: all 0.2s ease-in-out;
    position: absolute;

    &.hidden {
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  .multi-button-right {
    right: -30px;
  }

  .multi-button-left {
    left: -30px;
  }

  .multi-button-down {
    bottom: -30px;
  }

  .multi-button-up {
    top: -30px;
  }
}

.star-button {
  border-radius: 4px;
  border: '1px solid';
  overflow: hidden;
  box-sizing: content-box;
  border-color: variables.$btn-border-color;
  background-color: variables.$btn-border-color;
  font-size: 18px;
}

.new-team-button {
  .avatar__container {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);

      // svg {
      //   color: $btn-bg-color
      // }
    }
  }
}

.aggregation-button {
  border: 1px solid variables.$level3_bg-color;
  min-height: 196px;
  border-radius: 8px;
  color: variables.$companion_text-color;


  &:hover {
    background-color: variables.$companion_text-hover-bg-color;
    color: variables.$companion_text-hover-color;
    border-color: variables.$companion_text-hover-bg-color;
  }
}

.form-selector {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 5px;
  margin-right: 40px;

  .btn {
    background-color: #fff !important;
    border-color: #9e9e9e !important;

    &:hover {
      background-color: #ccc !important;
    }

    .description {
      color: #9e9e9e;
    }

    .label {
      font-weight: bold;
      font-size: 16px;
      color: #9e9e9e;
    }

    &.active {
      border-color: variables.$info-color !important;
      border-width: 2px;

      .label {
        color: variables.$info-color;
      }
    }

  }

}

.fake-documentation-page-dnd {
  margin: 0 20px;
  padding: 20px;
}

.shake {

  &.active {
    animation: shake 200ms 2 linear;
  }

}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }

  50% {
    transform: translate(-6px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}