@import '../variables.scss';

.data-vizualisation {
 // border: 1px solid lightgray;
 // border-radius: 10px;

  .data__navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //height: 130px;
    border-bottom: 1px solid $btn-border-color;

    .data__navbar__tab {
      //width: 200px;
      display: block;
      cursor: pointer;
      padding: 15px;
      //background-color: $navbar-bg-color;
      //color: $navbar-text-color;
      margin-right: 1px;
      margin-bottom: -1px;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;

      &.data__navbar__tab--active {
        color: $btn-text-color;
        background-color: $btn-bg-color;
        border: 1px solid $btn-border-color;
      }
      &:hover{
        background-color: $btn-border-color;
        color: $btn-bg-color;
      }

      .ant-progress-outer {
        display: inline-block;
        width: 100%;
        margin-right: 0;
        padding-right: 0;

        .ant-progress-inner {
          position: relative;
          display: inline-block;
          width: 100%;
          vertical-align: middle;
          background-color: #f5f5f5;
          border-radius: 100px;

          .ant-progress-bg {
            background-color: #1890ff;
            -webkit-transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
            transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
          }
        }
      }
    }
  }

  .data__content {
    padding: 5px 15px;
  }
}

.period-display {
  color: gray;
  font-style: italic;
}

.consumptions-plan {
  cursor: pointer;

  &.no-redirect {
    cursor: default;
  }

  .card-data {
    padding: 10px;
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: $level2_text-color;
    background-color: $level2_bg-color;
    font-family: Arial, Helvetica, "Open Sans", sans-serif, monospace;
    //font-size: 25pt;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  .card-body {
    border: none;
    background-color: $level1_bg-color;
    margin: 0;
    height: 250px;
    overflow: scroll;
  }
}
