
.main-content-container {
  // minHeight: '100vh',
  // position: 'relative',
  // paddingBottom: '6rem'
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

.footer {
  min-height: 60px;
  margin-top: 35px;
  bottom: 0;

  font-size: 18px;
  background: $footer-bg-color;
  color:$footer-text-color;
}