.form-control, .form-control:focus {
  background-color: $form-bg-color;
  color:$form-text-color;
  border-color:$form-border-color;
}

.form-control:disabled, .form-control[readonly] {
  background-color: grey;
  color: #e2e2e2;
}

.motivation-form__editor .cm-editor {
  min-height: 0px;
}
