@use "../variables";

.escape {
    color: variables.$danger-color;

    &:hover {
        color: variables.$danger-color;
    }
}

.accept {
    color: variables.$success-color;

    &:hover {
        color: variables.$success-color;
    }
}