.escape {
    color: $error-color;

    &:hover {
        color: $error-hover-color;
    }
}

.accept {
    color: $success-color;
    &:hover {
        color: $success-hover-color;
    }
}

.input-select, .add-member-select, .filter__select {
    [class*="-control"]{
        background-color: $form-bg-color;
        border-color: $form-border-color;
    }
    [class*="-singleValue"]{
        color:$form-text-color;
    }
    [class*="-menu"]{
        background-color: $form-bg-color;
        border-color: $form-border-color;
        color:$form-text-color;
    }
}