.unread-messages::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -3px;
  right: 10px;
  background-color: tomato;
  border-radius: 50%;
  border: 2px solid $navbar-bg-color;
  box-sizing: content-box;
}