@use "../variables";


.note {
  border: none;
  border-left: 10px solid #4078c0;
  margin: 0 0 1rem;
  padding: 1rem;
  border-radius: 0;
  position: relative;
  // background-color: rgba(64, 120, 192, 0.1);
  // color: #0a0a0a;
  background-color: variables.$level1_bg-color;
  color: variables.$level1_text-color;
}

.note-warning {
  border-color: #DB504A;
  background-color: #fff3d9;
}

.note-title {
  font-weight: bold;
  margin-bottom: 0.33em;
}
