.notification-link, .messages-link {
  color: $navbar-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    color: $navbar-text-hover-color;
    text-decoration: none;

    &::before{
      border-color: $navbar-text-hover-color;
    } 
  }
}

.unread-notifications::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -3px;
  right: 3px;
  background-color: $danger-color;
  border-radius: 50%;
  border: 2px solid $navbar-text-color;
  box-sizing: content-box;
  z-index: 1;
}

.notification-prop a:hover {
  color: #fff;
}
