@use "../variables";
@use "sass:color";

.notification-link,
.messages-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-color {
    color: variables.$sidebar-text-color;

    &:hover {
      color: variables.$sidebar-text-hover-color;
      text-decoration: none;

      &::before {
        border-color: variables.$sidebar-text-hover-color;
      }
    }
  }
}

.unread-notifications::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -3px;
  right: 3px;
  background-color: variables.$danger-color;
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 1;
}

.notification-prop a:hover {
  color: #fff; //fixme: better color
}

// ------- new page ---------

.selected-filter {
  width: fit-content;
  padding: .3rem .6rem;
  border-radius: 4px;
  border: 1px solid variables.$level2_text-color;
  background-color: variables.$level3_bg-color;

  cursor: pointer;

  &:hover {
    border-color: variables.$level3_bg-color;
  }

  &:active {
    background-color: variables.$level2_bg-color; //fixme: ????
  }
}

.filters-label {
  font-weight: bold;
}

.notification-table {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;

  background-color: variables.$level2_bg-color;
  color: variables.$level2_text-color;


}

.table-header {
  padding: 2rem 1rem 1rem 1rem;

  .table-title {
    font-weight: bold;
    margin: 0;
  }

  .table-description {
    font-weight: lighter;
  }
}

$level1-darken-color: color-mix(in srgb, variables.$level2_bg-color 95%, #000);

.select-all-row {
  background-color: $level1-darken-color;
  padding: 1rem 1rem !important;
  font-size: 1rem !important;
  height: 4rem;

  // input.form-check-input {
  //   margin-left: .7rem!important;
  // }
}

.table-rows {
  display: flex;
  flex-direction: column;
  background-color: variables.$level3_bg-color;
  color: variables.$level3_text-color;
  padding: 0;
  margin: 0;

  .table-row {
    display: grid;
    grid-template-columns: 5fr 15fr 15fr 30fr 15fr 12fr 7fr 15fr;
    gap: 1rem;
    padding: .875rem 1rem;
    align-items: center;
    border-bottom: 1px solid variables.$level1_bg-color;
    font-size: 0.875rem;

    &:hover {
      background-color: color-mix(in srgb, variables.$level3_bg-color 90%, #000);
    }

    .nav_item {
      font-size: 1.1rem;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 4px;

      &.no-bg {
        color: variables.$level1_text-color;

        &:disabled {
          color: color-mix(in srgb, variables.$level1_text-color 50%, #fff);
          cursor: not-allowed;
        }

        &:hover {
          background-color: transparent;
        }
      }

      &:hover {
        background-color: variables.$level1_text-color;
        color: color-mix(in srgb, variables.$level1_text-color 50%, #000);
        padding: 0.2rem;
      }

    }

    div.select-cell {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 1rem;
      padding-right: 1rem;

      position: relative;

      .indicator {

        &.unread:after {
          content: "";
          width: 0.85rem;
          height: 0.85rem;
          display: block;
          background-color: variables.$info-color;
          border-radius: 50%;
          box-sizing: content-box;

          flex-shrink: 0;
        }
      }
    }

    div.description-cell {
      display: flex;
      justify-content: start;

      .notification {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        .notification__description {
          font-weight: 500;
        }
      }
    }

    div.type-cell {
      text-align: left;
    }

    div.sender-cell {
      display: flex;
      justify-content: start;

      .sender {
        width: fit-content;
        padding: .3rem .6rem;
        border-radius: 4px;
        border: 1px solid $level1-darken-color;
      }
    }

    div.date-cell {
      text-align: end;
    }

    div.action-cell {
      text-align: end;
    }
  }

  .table-row:last-of-type {
    border: none;
  }
}

.action-container {
  display: grid;
  grid-template-columns: 80fr 20fr;
  gap: 1rem;
}

.select-menu-item:hover {
  background-color: #eee;
}

.notification-subscription-demand-summary {
  display: flex;
  flex-direction: column;
  gap: .1rem;

  .label {
    font-weight: bold;
  }

  & +.notification-subscription-demand-summary {
    margin-top: 2rem;
  }
}