@use "../variables";

.notification-link,
.messages-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-color {
    color: variables.$sidebar-text-color;

    &:hover {
      color: variables.$sidebar-text-hover-color;
      text-decoration: none;

      &::before {
        border-color: variables.$sidebar-text-hover-color;
      }
    }
  }
}

.unread-notifications::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -3px;
  right: 3px;
  background-color: variables.$danger-color;
  border-radius: 50%;
  // border: 2px solid $navbar-text-color;
  box-sizing: content-box;
  z-index: 1;
}

.notification-prop a:hover {
  color: #fff;
}

// ------- new page ---------

.filters-container {
  margin: 1rem 0;

  padding: 1rem;
  border: 1px solid #DDD;
  border-radius: 5px;

  background: #FFF;

}

.filters-label {
  font-weight: bold;
}

.notification-table {
  display: flex;
  flex-direction: column;
  border: 1px solid #DDD;
  border-radius: 5px;
  overflow: hidden;
  background: #f9f9f9;

}

.table-header {
  padding: 2rem 1rem 1rem 1rem;

  .table-title {
    font-weight: bold;
  }

  .table-description {
    font-weight: lighter;
  }
}

.select-all-row {
  background-color: #EEE;
  padding: 0.75rem 1rem;
}

.table-rows {
  display: flex;
  flex-direction: column;
  background-color: #FFF;

  .table-row {
    display: grid;
    grid-template-columns: 5fr 55fr 15fr 15fr 10fr;
    padding: 1.5rem 1rem;
    align-items: center;
    border-bottom: 1px solid #DDD;

    &:hover {
      background-color: #f9f9f9;
    }

    .nav_item {
      font-size: 1.5rem;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: variables.$level1_text-color;

      &:hover {
        background-color: #ddd;
        border-radius: 4px;
        padding: 0.2rem;
      }
    }

    div.description-cell {
      display: flex;
      justify-content: start;

      .notification {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:not(.unread) {
          margin-left: calc(10px + 1rem);
        }

        &.unread:before {
          content: "";
          width: 10px;
          height: 10px;
          margin-right: 1rem;
          display: block;
          background-color: #29438D;
          border-radius: 50%;
          box-sizing: content-box;

          flex-shrink: 0;
        }

        .notification__identities {
          font-weight: lighter;
        }

        .notification__description {
          font-weight: bold;
        }
      }
    }

    div.type-cell {
      text-align: center;
    }

    div.sender-cell {
      display: flex;
      justify-content: center;

      .sender {
        width: fit-content;
        padding: .3rem .6rem;
        border-radius: 4px;
        border: 1px solid #ddd;
      }
    }

    div.date-cell {
      text-align: end;
    }
  }

  .table-row:last-of-type {
    border: none;
  }
}

.select-menu-item:hover {
  background-color: #eee;
}


.notification-table .notification__actions {
  display: none;
}

.notification-table .table-row:hover .date-cell {
  .notification__date {
    display: none;
  }

  .notification__actions {
    display: block;
  }
}

.selected-filter {
  width: fit-content;
  padding: .3rem .6rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;

  cursor: pointer;

  &:hover {
    border-color: #eee;
  }

  &:active {
    background-color: #fff;
  }
}