.reactTableV7 {
	width: 100%;
	font-size: 14px;
	thead{
		box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.1)
	}
	thead th {
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: rgba(0,0,0,0.1);
		padding-left: 5px;
	}
	thead th:last-child {
		border-right:none;
	}
	tr:nth-child(even){
		background-color: rgba(0, 0, 0, 0.03);
	}
	td{
		padding: 7px 5px;
		border-right-color: rgba(0, 0, 0, 0.02);
		border-right-style: solid;
		border-right-width: 1px;
	}
	.switch--loaded label{
		margin-bottom: 0px;
	}
}
.ReactTable {
	border: none !important;
  font-size: 14px;
	background-color: $form-bg-color;
}
.ReactTable input {
	border-radius: 4px;
	border: none;
}

.ReactTable	.rt-td {
		/* height: 40px !important; */
}

.ReactTable .-pageSizeOptions {
		display: none !important;
}

.ReactTable	.-next .-btn,
.ReactTable	.-previous .-btn {
		border-radius: 4px !important;
}

.ReactTable	.-pagination {
		justify-content: center;
}

.ReactTable	.-pagination .-previous,
 .ReactTable .-pagination .-next {
		flex: none;
}

.ReactTable	.-pagination .-center {
		flex: none;
		border: 1px solid rgba(181, 179, 179, .5);
		border-radius: 4px;
		margin-left: 5px;
		margin-right: 5px;
}

.ReactTable	.-pagination .-btn:not([disabled]):hover {
		background: #494948;
}

.ReactTable 	span.label.table-env {
	  margin-right: 10px;
}

.ReactTable select{
		background: none;
}

.ReactTable a {
  color : $menu-text-color;
}

.ReactTable a:hover {
  text-decoration: none;
}
