.reactSelect__control{
  background-color: $form-bg-color !important;
  border-color: $form-border-color !important;
}
.reactSelect__single-value, .reactSelect__value-container [class*="-Input"]{
  color:$form-text-color !important;
}
.reactSelect__menu{
  background-color: $form-bg-color !important;
  border-color: $form-border-color !important;
  color:$form-text-color !important;
}

.reactSelect__option--is-focused{
  background-color: $form-select-focused-color !important;
  color:$form-select-focused-text-color !important;
}

.react-form-select__option--is-selected,
.reactSelect__option--is-selected{
  background-color: $form-select-focused-color !important;
  color:$form-select-focused-text-color !important;
  font-weight: bolder!important;
}

.reactSelect__option:hover{
  cursor: pointer;
}

.reactSelect__group-heading{
  padding: 10px;
  background-color: $companion_text-hover-bg-color;
  color : $companion_text-hover-color !important;
}
.groupStyles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groupBadgeStyles{
  background-color: #EBECF0;
  border-radius: 2em;
  color: #172B4D;
  display: inline-block;
  font-size: 12;
  font-weight: normal;
  line-height: 1;
  min-width: 1;
  padding: 0.16666666666667em 0.5em
}

.select-sm {
    .reactSelect__indicator {
      padding: 0;
    }
    .reactSelect__control {
      min-height: auto;
    }
    .reactSelect__value-container, .reactSelect__input-container{
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .reactSelect__menu{
      margin-top: 0px;
    }
  }
  