.sortable-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.sortable-item {
  position: relative;
  display: flex;
  // justify-content: space-between;
  flex-grow: 1;
  // align-items: center;
  // padding: 18px 20px;
  background-color: #fff;
  box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
  border-radius: calc(4px / var(--scale-x, 1));
  box-sizing: border-box;
  list-style: none;

  .action {
    position: absolute;
    top: 10px;
    right: -25px
  }

  &.fixed {
    cursor: default;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.sortable-item__action {
  position: absolute;
  top: -10px;
  right: -10px;
  display: none;
}

.sortable-item:hover .sortable-item__action {
  display: block;
}

.sortable-item:hover .drag-handle {
  background-color: rgba(0, 0, 0, 0.15);
}

.drag-handle {
  padding: 18px 20px;
  border-radius: 4px;
  flex-grow: 1;
}

.sortable-item__draggable-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.validation-step__type {
  font-weight: bold;
}

.validation-step__infos {
  font-style: italic;
  font-size: 13px;
}

//*****************
//*** DROPPABLE ***
//*****************

.droppable {
  position: relative;
  padding-top: 80px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: inset rgba(201, 211, 219, 0.5) 0 0 0 2px,
    rgba(255, 255, 255, 0) 0 0 0 1px, rgba(201, 211, 219, 0.25) 20px 14px 24px;
  transition: box-shadow 250ms ease;

  >svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0.8;
    transition: opacity 300ms ease, transform 200ms ease;
    user-select: none;
    pointer-events: none;
  }

  &.dragging {
    >svg {
      opacity: 0.8;
    }
  }

  &.over {
    box-shadow: inset tomato 0 0 0 3px, rgba(201, 211, 219, 0.5) 20px 14px 24px;

    >svg {
      opacity: 1;
      color: tomato;
    }

    &.dropped {
      box-shadow: inset rgba(201, 211, 219, 0.7) 0 0 0 3px,
        rgba(201, 211, 219, 0.5) 20px 14px 24px;
    }
  }

  &.dropped {
    >svg {
      opacity: 0.2;
      transform: translate3d(-50%, 100%, 0) scale(0.8);
    }
  }
}