/* table api */
.table-plan-name td{
  cursor: pointer;
}

.table-plan-name .planSelected {
  background-color: #343a40;
  color:#fff;
}

.table-hover tbody tr:hover {
  color: $link-hover-color;
}

.iconized {
  background-color: $menu-text-hover-bg-color;
  color: $menu-text-hover-color;
}

