/* table api */
.table-plan-name td{
  cursor: pointer;
}

.table-plan-name .planSelected {
  background-color: #343a40;
  color:#fff;
}

.table-hover tbody tr:hover {
  color: $link-hover-color;
}

.iconized {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: $menu-text-hover-bg-color;
  color: $menu-text-hover-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: $menu-text-hover-bg-color;
}

