/* table api */
.table-plan-name td{
  cursor: pointer;
}

.table-plan-name .planSelected {
  background-color: #343a40;
  color:#fff;
}

.table-hover tbody tr:hover {
  color: $level2_link-hover-color;
}

