@use "../variables";


.nav-tabs {
    border-color: variables.$btn-border-color;
    gap: 5px;
  
    .nav-link {
      background-color: variables.$btn-text-color;
      color: variables.$btn-bg-color;
    }
  
    .nav-link:hover,
    .nav-link:focus {
      cursor: pointer;
      background-color: variables.$btn-border-color;
      color: variables.$btn-bg-color;
    }
  
    .nav-link.active,
    .nav-item.show .nav-link {
      color: variables.$btn-text-color;
      background-color: variables.$btn-bg-color;
      border-color: variables.$btn-border-color;
    }
  }