
.home-tiles>a:hover, .home-tiles>a:visited, .home-tiles>a:link, .home-tiles>a:active {
  text-decoration: none;
}

.home-tile:disabled, .home-tile[disabled] {
  cursor: auto;
}

.home-tiles .alert {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.home-tiles hr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.home-tile{
  flex: 1 1 49%;
  padding: 12px;
  background-color: $aside-bg-color;
  color:$aside-text-color;
  margin-top: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-tile-number{
  font-size: 35px;
  font-weight: bold;
}

.home-tile-text{
  font-size: 20px;
}
