.redux-toastr .toastr {
  overflow: visible !important;
  .rrt-middle-container{
    margin-left: 0px !important;
    position: absolute !important;
    width: 100% !important;
    text-align: center !important;
  }

  .rrt-left-container, .rrt-right-container{
    display: none !important;
  }
}

.toastr.rrt-success {
    .rrt-middle-container{
      background-color: #60bb71;
      border-radius: 4px;
    }
}

.toastr.rrt-error{
    .rrt-middle-container{
      background-color: #db6a64;
      border-radius: 4px;
    }
}
