@use "../variables";

[data-rich-colors="true"][data-sonner-toast][data-type="success"] {
  --success-bg: #{variables.$success-color};
  --success-border: #{variables.$success-color};
  --success-text: #FFF;
}

[data-rich-colors="true"][data-sonner-toast][data-type="error"] {
  --error-bg: #{variables.$danger-color};
  --error-border: #{variables.$danger-color};
  --error-text: #FFF;
}

[data-rich-colors="true"][data-sonner-toast][data-type="info"] {
  --info-bg: #{variables.$info-color};
  --info-border: #{variables.$info-color};
  --info-text: #FFF;
}

[data-rich-colors="true"][data-sonner-toast][data-type="warning"] {
  --warning-bg: #{variables.$warning-color};
  --warning-border: #{variables.$warning-color};
  --warning-text: #FFF;
}

[data-rich-colors="true"][data-sonner-toast][data-type="loading"] {
  --normal-bg: #{variables.$info-color};
  --normal-border: #{variables.$info-color};
  --normal-text: #FFF;
}