.redux-toastr .toastr {
  .rrt-middle-container{
    margin-left: 0px !important;
    width: 100% !important;
    text-align: center !important;
  }

  .rrt-left-container, .rrt-right-container{
    display: none !important;
  }
}

.toast.rrt-success {
    .rrt-middle-container{
      background-color: $success-color;
      border-radius: 4px;
    }
}
.toast.rrt-info {
    .rrt-middle-container{
      background-color: $info-color;
      border-radius: 4px;
    }
}

.toast.rrt-error{
    .rrt-middle-container{
      background-color: $error-color;
      border-radius: 4px;
    }
}
